* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

header{
  background-color: var(--background-header);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
body{
  background: #e5e5e5;
}
main{
  background-color: #FFF;
  width: calc(100% - 16px);
  position: relative;
  /* height: 100%; */
} 

button{
  border-radius: 4px;
  padding: 4px 8px;
}

button.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  gap: 8px;
  color: var(--font-color-inactive-button);
  border: 1px solid var(--thin-border-color);
}

  

button.unit{
  height: 2rem;
  color: #FFF;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;
  border: 1px solid transparent;
}

button.unit:hover,
button.unit:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--background-button-active);
  transform: translateY(-0.25em);
  border: 1px solid var(--background-button-active);
}

button.unit:not(.active){
  background-color: var(--background-button-inactive);
}
button.unit.active{
  background-color: var(--background-button-active);
  transform: translateY(0rem);
  box-shadow: none;
}

button.hamburger{
  background: transparent;
  padding: 0;
  margin: 0;
}

div.main-header--buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 16px 0px;
}

div.units-container{
  max-height:max-content;
}

div.sidebar-content{
  border: 1px solid var(--thin-border-color);
}

div.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  input{
    flex-grow: 1;
  }
}

@media only screen and (min-width: 768px){
  header{
    height: 48px;
    flex-direction: row;
    padding: 0px 16px;
    justify-content: space-between;
    width: calc(100% - 32px);
    position: relative;
  }
  section{
    position: relative;
  }
  main{
    height: calc(100% - 64px);  
    overflow: hidden;
    margin: 8px;
  }
  section.sidebar.closed:not(.open){
    display: none;
  }
  section.sidebar.open:not(.closed){
    display: block;
    padding: 16px 8px;
    width: 45%;
    height: calc(100% - 122px);
  }

}

/* section {
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  height: 100%
} */

section.sidebar.open{
  width: 0;
  background-color: #fff;
  border: 1px solid grey;
  padding: 16px 8px;
}

section.sidebar.closed{
  min-width: 48px;
  background-color: var(--background-header);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.main-header{
  div.main-header--text{

    display: flex;
    align-items: center;
    > h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      gap: 8px;
    }
    > span {
      font-weight: 200;
    }
  }
}



