@keyframes scaleInX {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes scaleInHeight {
  from {
    height: 0;
  }
  to {
    min-height: fit-content;
    flex-grow: 1;
  }
}

@keyframes scaleOutButtons {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes scaleOutY {
  from {
    height: 80px;
  }
  to {
    height: 0px;
    display: none;
  }
}

@keyframes startFromRight {
  from {
    width: 0;
    margin-left: 100%;
  }
  to {
    width: 80%;
    margin-left: 20%;
  }
}

.scale-in-height{
  transition: height 0.5s;
  animation: 0.5s forwards scaleInHeight;
  overflow: hidden auto !important;
}

.scaleOutButtons {
  transition: height 0.5s;
  animation: 0.25s forwards scaleOutButtons;
}

.scaleOutY {
  transition: height 0.5s;
  animation: 0.5s forwards scaleOutY;
}

.scaleInX {
  transition: width 0.5s;
  animation: 0.5s forwards scaleInX;
}

.start-from-right {
  transition: width 0.5s;
  animation: 0.5s forwards startFromRight;
}
