@keyframes scaleInX {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes scaleInHeight {
  from {
    height: 0;
  }
  to {
    min-height: fit-content;
    flex-grow: 1;
  }
}

@keyframes scaleOutButtons {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes scaleOutY {
  from {
    height: 80px;
  }
  to {
    height: 0px;
    display: none;
  }
}

@keyframes startFromRight {
  from {
    width: 0;
    margin-left: 100%;
  }
  to {
    width: 80%;
    margin-left: 20%;
  }
}

@keyframes startFromRightDesktop {
  from {
    width: 0;
    /* margin-left: 100%; */
  }
  to {
    width: 54%;
    /* flex-grow: 1; */
  }
}

.scale-in-height{
  transition: height 0.5s;
  animation: 0.5s forwards scaleInHeight;
  overflow: hidden auto !important;
}

.scaleOutButtons {
  transition: height 0.5s;
  animation: 0.25s forwards scaleOutButtons;
}

.scaleOutY {
  transition: height 0.5s;
  animation: 0.5s forwards scaleOutY;
}

.scaleInX {
  transition: width 0.5s;
  animation: 0.5s forwards scaleInX;
}

.start-from-right {
  transition: width 0.5s;
  animation: 0.5s forwards startFromRight;
}

.start-from-right-desktop {
  transition: width 0.5s;
  animation: 0.5s forwards startFromRightDesktop;
}

/* #tractian-logo {
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
} */
/* #a{
  fill:transparent;
  stroke-width:1px;
  stroke-dasharray:572;
  stroke-dashoffset:572;
  stroke:white; 
  animation:StrokeLine 2s ease reverse, Fill 2s cubic-bezier(0.71, -1.06, 0.3, 1);
}
@keyframes StrokeLine{
    0%{
        stroke-dashoffset:0;
    }                
}            
@keyframes Fill{
    100%{
        fill:white;                
    }                
} */

#a {
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 572;
  stroke-dashoffset: 572;
  stroke: white; 
  animation: StrokeLine 2s ease reverse, Fill 2s cubic-bezier(0.71, -1.06, 0.3, 1) forwards;
}

@keyframes StrokeLine {
  0% {
    stroke-dashoffset: 0;
  }
}

@keyframes Fill {
  100% {
    fill: white;
  }
}