* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header{
  background-color: var(--blue-primary);
  width: 100%;
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  top: 0;
  z-index: 1;
}
body{
  position:relative;
  background: #e5e5e5;
  max-width: 100%;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}
main{
  background-color: #FFF;
  max-width: 100%;
  width: 100%;
  position: absolute;
  height: calc(100% - 80px);
  top: 80px;
  /* height: 100%; */
} 

button{
  border-radius: 4px;
  padding: 4px 8px;
}

button.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  gap: 8px;
  color: var(--dark-grey);
  border: 1px solid var(--light-grey);
}

  

button.unit{
  height: 2rem;
  color: #FFF;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.25s;
  border: 1px solid transparent;
}

button.unit:hover,
button.unit:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--blue-secondary);
  transform: translateY(-0.25em);
  border: 1px solid var(--blue-secondary);
}

button.unit:not(.active){
  background-color: var(--blue-tertiary);
}
button.unit.active{
  background-color: var(--blue-secondary);
  transform: translateY(0rem);
  box-shadow: none;
}

button.hamburger{
  background: transparent;
  padding: 0;
  margin: 0;
}

div.main-header--buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin: 16px 0px;
}

div#companies-container{
  max-height:max-content;
}

div.content-container-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
}

div.assets-container{
  flex-grow: 1;
  border-top: 1px solid var(--light-grey);
  border-radius: 4px;
}

div.input-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  min-height: 2rem;

  input{
    flex-grow: 1;
    min-height: 2rem;
  }
}

button.component{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
  background-color: transparent;
  flex-direction: row-reverse;
  cursor: pointer;
  > * {
    pointer-events: none;
    user-select: text;

  }
}


h6.detail-title{
  font-weight: 600;
}

p.detail-name{
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 4px;
}

/* p.detail-name#asset-sensor, p.detail-name#asset-sensor{
  font-weight: 200;
  display: flex;
  align-items: center;
  gap: 4px;
} */

h3.title{
  padding: 16px;
}
#asset-image{
  grid-area: img;
}
#responsible{
  grid-area: resp;
  padding-top: 16px;
}
#sensor{
  grid-area: sensor;
}
#receptor{
  grid-area: recep;
}
#equipment-type{
  border-bottom: 1px solid var(--light-grey);
  grid-area: equip;
  padding-bottom: 16px;
}

#grid-separator-responsible{
  grid-area: sepresp;
  height: 1px;

}

#grid-separator-sensor{
  grid-area: sep;
  height: 1px;
  margin:16px 0px;
}
.asset-details--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:12px;

}

span#responsible-avatar{
  display: flex;
  border-radius:100%;
  background: var(--blue-secondary);
  width: 24px;
  height: 24px;
  color: #FFF;
  justify-content: center;
  align-items: center;
}

div.asset-details{
  display: flex;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(1px, auto);
  grid-template-areas:
  "img equip"
  "img resp"
  "sep sep"
  "sensor recep"; */

  padding: 12px;
  gap: 4px;
}

hr.line-break{
  border-bottom:1px solid var(--light-grey);
}

div.sections-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  height: 100%;
}

/* section {
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  height: 100%
} */

section.content-container.open{
  background-color: #fff;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  padding: 16px 8px;
  width: 80%;
}

section.content-container.closed{
  display: none;
}

/* section.content-container.closed{
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  >div.mobile-icons{
    display: block
  }
} */

div.full-container{
  padding: 4px 16px 4px 16px;
  max-width: fit-content;
}



div.main-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div.main-header--text{

    display: flex;
    align-items: center;
    > h3 {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      gap: 8px;
      margin-right: 8px;
    }
    > span {
      font-weight: 200;
    }
  }
}



