@media only screen and (min-width: 768px){
    header{
      height: 48px;
      flex-direction: row;
      padding: 0px 16px;
      justify-content: space-between;
      width: calc(100% - 32px);
      position: relative;
      align-items: center;
    }
    section{
      position: relative;
    }
    main{
      height: calc(100% - 64px);  
      overflow: hidden;
      margin: 8px;
      width: calc(100% - 16px);
      position: static;
    }
    section#assets-container{
      flex-grow: 1;
    }
    div.full-container{
      max-width: none;
    }
    div#companies-container{
      display: flex;
      gap: 8px;
      height: 100%;
      align-items: center;
    }
    button.company-data{
      display: flex;
      align-items: center;
      gap: 8px;
      /* margin-left: 8px; */
      user-select: text;
      background: transparent;
      cursor: pointer;
      > * {
        pointer-events: none;
      }
      }
      div.company-data-content{
        margin-left: 8px;
      }
      div.company-data{
        margin-left: 8px
      }
      button.company-data.closed{
        ~ div.company-data-content{
          display: none;
        }
        > span.company-data-arrow{
          transform: rotateZ(-90deg);
        }
      }
      button.company-data.open{
      
      }


    section#nav-bar{
        width: 45%;

    }
    section.content-container.closed:not(.open){
      display: none;
    }
    section.content-container.open:not(.closed){
      display: flex;
      flex-direction: column;
      padding: 0px;
      height: calc(100% - 122px);
      > div.mobile-icons {
        display: none
      }
    }
    div.main-header{
      flex-direction: row;
      justify-content: space-between;
    }
    span.asset-gateway{
      margin-left:2px;
    }
    div.asset-details{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(1px, auto);
      grid-template-areas:
      "img equip"
      "img resp"
      "sep sep"
      "sensor recep";
    
      padding: 12px;
      gap: 4px 8px;
    }
  }